body {
    font-family: 'Poppins';
    font-style: normal;
}

h1 {
    font-size: 32px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container .log-reg {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 12px 0 0 0;
}

.container .log-reg button {
    width: 100%;
    padding: 8px;
    font-family: 'Poppins';
    font-style: normal;
    background: #5B52BC;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}

.container .log-reg button:hover {
    background: #4B42AC;
}

.container #login {
    width: 450px;
}

.container #login .inputs {
    display: flex;
    gap: 8px;
}

.container #login .inputs input {
    width: 50%;
    padding: 8px;
    font-family: 'Poppins';
    font-style: normal;
    border-radius: 4px;
    border: 1px solid black;
}