@font-face {
  font-family: 'Euclid Circular A';
  src: url('/assets/fonts/Euclid-Circular-A-Light.woff2') format('woff2');
  font-weight: 300;
}

@font-face {
  font-family: 'Euclid Circular A';
  src: url('/assets/fonts/Euclid-Circular-A-Regular.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Euclid Circular A';
  src: url('/assets/fonts/Euclid-Circular-A-Medium.woff2') format('woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'Euclid Circular A';
  src: url('/assets/fonts/Euclid-Circular-A-SemiBold.woff2') format('woff2');
  font-weight: 600;
}

@font-face {
  font-family: 'Euclid Circular A';
  src: url('/assets/fonts/Euclid-Circular-A-Bold.woff2') format('woff2');
  font-weight: 700;
}
